USE [master]
GO
/****** Object:  Database [MTA.QLSV]    Script Date: 5/23/2018 11:55:23 PM ******/
CREATE DATABASE [MTA.QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MTA.QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MTA.QLSV.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MTA.QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MTA.QLSV_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MTA.QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MTA.QLSV]
GO
/****** Object:  User [MTA]    Script Date: 5/23/2018 11:55:23 PM ******/
CREATE USER [MTA] FOR LOGIN [MTA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MTA]
GO
/****** Object:  Table [dbo].[ASSIGNMENTEXAMINATION]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASSIGNMENTEXAMINATION](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[TEACHERCODE] [varchar](10) NOT NULL,
	[ROOMEXAMSCODE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ASSIGNMENTEXAMINATION] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ASSIGNMENTOFMARKING]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASSIGNMENTOFMARKING](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[TEACHERCODE] [varchar](10) NOT NULL,
	[TESTPACKCODE] [varchar](10) NOT NULL,
	[RECEIVEDDATE] [datetime] NULL,
	[PAYDAY] [datetime] NULL,
 CONSTRAINT [PK_ASSIGNMENTOFMARKING] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AU_DONVI]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AU_DONVI](
	[ID] [nvarchar](50) NOT NULL,
	[MADONVI] [nvarchar](50) NOT NULL,
	[MADONVICHA] [nvarchar](50) NULL,
	[TENDONVI] [nvarchar](150) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MACUAHANG] [nvarchar](50) NULL,
	[TENCUAHANG] [nvarchar](200) NULL,
	[URL] [nvarchar](300) NULL,
	[TRANGTHAI] [int] NOT NULL,
	[I_CREATE_DATE] [datetime] NULL,
	[I_CREATE_BY] [nvarchar](50) NULL,
	[I_UPDATE_DATE] [datetime] NULL,
	[I_UPDATE_BY] [nvarchar](50) NULL,
	[I_STATE] [nvarchar](50) NULL,
	[UNITCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AU_DONVI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AU_MENU]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AU_MENU](
	[ID] [nvarchar](50) NOT NULL,
	[MENUIDCHA] [nvarchar](100) NULL,
	[MENUID] [nvarchar](100) NULL,
	[TITLE] [nvarchar](200) NULL,
	[URL] [nvarchar](500) NULL,
	[SORT] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[I_CREATE_DATE] [datetime] NULL,
	[I_CREATE_BY] [nvarchar](50) NULL,
	[I_UPDATE_DATE] [datetime] NULL,
	[I_UPDATE_BY] [nvarchar](50) NULL,
	[I_STATE] [nvarchar](50) NULL,
	[UNITCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AU_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AU_NGUOIDUNG]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AU_NGUOIDUNG](
	[ID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NULL,
	[TENNHANVIEN] [nvarchar](200) NULL,
	[SODIENTHOAI] [nvarchar](20) NULL,
	[SOCHUNGMINHTHU] [nvarchar](20) NULL,
	[GIOITINH] [int] NOT NULL,
	[MAPHONG] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[LEVEL] [int] NULL,
	[TRANGTHAI] [int] NOT NULL,
	[PARENT_UNITCODE] [nvarchar](50) NULL,
	[I_CREATE_DATE] [datetime] NULL,
	[I_CREATE_BY] [nvarchar](50) NULL,
	[I_UPDATE_DATE] [datetime] NULL,
	[I_UPDATE_BY] [nvarchar](50) NULL,
	[I_STATE] [nvarchar](50) NULL,
	[UNITCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AU_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AU_NGUOIDUNG_NHOMQUYEN]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AU_NGUOIDUNG_NHOMQUYEN](
	[ID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[MANHOMQUYEN] [nvarchar](50) NOT NULL,
	[I_CREATE_DATE] [datetime] NULL,
	[I_CREATE_BY] [nvarchar](50) NULL,
	[I_UPDATE_DATE] [datetime] NULL,
	[I_UPDATE_BY] [nvarchar](50) NULL,
	[I_STATE] [nvarchar](50) NULL,
	[UNITCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AU_NGUOIDUNG_NHOMQUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AU_NGUOIDUNG_QUYEN]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AU_NGUOIDUNG_QUYEN](
	[ID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[MACHUCNANG] [nvarchar](50) NOT NULL,
	[XEM] [bit] NOT NULL,
	[THEM] [bit] NOT NULL,
	[SUA] [bit] NOT NULL,
	[XOA] [bit] NOT NULL,
	[DUYET] [bit] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[I_CREATE_DATE] [datetime] NULL,
	[I_CREATE_BY] [nvarchar](50) NULL,
	[I_UPDATE_DATE] [datetime] NULL,
	[I_UPDATE_BY] [nvarchar](50) NULL,
	[I_STATE] [nvarchar](50) NULL,
	[UNITCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AU_NGUOIDUNG_QUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AU_NHOMQUYEN]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AU_NHOMQUYEN](
	[ID] [nvarchar](50) NOT NULL,
	[MANHOMQUYEN] [nvarchar](50) NOT NULL,
	[TENNHOMQUYEN] [nvarchar](100) NULL,
	[MOTA] [nvarchar](200) NULL,
	[TRANGTHAI] [int] NOT NULL,
	[I_CREATE_DATE] [datetime] NULL,
	[I_CREATE_BY] [nvarchar](50) NULL,
	[I_UPDATE_DATE] [datetime] NULL,
	[I_UPDATE_BY] [nvarchar](50) NULL,
	[I_STATE] [nvarchar](50) NULL,
	[UNITCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AU_NHOMQUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AU_NHOMQUYEN_CHUCNANG]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AU_NHOMQUYEN_CHUCNANG](
	[ID] [nvarchar](50) NOT NULL,
	[MANHOMQUYEN] [nvarchar](50) NOT NULL,
	[MACHUCNANG] [nvarchar](50) NOT NULL,
	[XEM] [bit] NOT NULL,
	[THEM] [bit] NOT NULL,
	[SUA] [bit] NOT NULL,
	[XOA] [bit] NOT NULL,
	[DUYET] [bit] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[I_CREATE_DATE] [datetime] NULL,
	[I_CREATE_BY] [nvarchar](50) NULL,
	[I_UPDATE_DATE] [datetime] NULL,
	[I_UPDATE_BY] [nvarchar](50) NULL,
	[I_STATE] [nvarchar](50) NULL,
	[UNITCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AU_NHOMQUYEN_CHUCNANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHECKLIST]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHECKLIST](
	[CODE] [varchar](10) NOT NULL,
	[EXAMSCODE] [varchar](10) NULL,
	[CODEVIEW] [varchar](20) NULL,
	[CHECKLISTNAME] [nvarchar](50) NULL,
	[TESTDAY] [datetime] NULL,
 CONSTRAINT [PK_CHECKLIST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLASS](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NULL,
	[CLASSNAME] [nvarchar](200) NULL,
	[TEACHERCODE] [varchar](10) NULL,
	[COURSECODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COURSE](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NULL,
	[COURSENAME] [nvarchar](200) NULL,
	[ACADEMICYEAR] [int] NULL,
	[LEVELCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CREDITCLASS]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CREDITCLASS](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [nvarchar](20) NULL,
	[ADDRESS] [nvarchar](20) NULL,
	[NUMBER] [int] NULL,
	[TIME] [datetime] NULL,
	[IDTEACHER] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[DEPARTMENTNAME] [nvarchar](200) NOT NULL,
	[LEVELEDUCATIONCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETAILEDEXAMINATIONLIST]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAILEDEXAMINATIONLIST](
	[CODE] [varchar](10) NOT NULL,
	[STUDENTCODE] [varchar](10) NOT NULL,
	[CHECKLISTCODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[EXAMNCODE] [int] NULL,
	[NUMBEROFPAPEREXAMS] [int] NULL,
	[SIGNATUR] [char](20) NULL,
	[ABSENTEEISM] [bit] NULL,
	[SPLITTHEEXAM] [int] NULL,
	[NODE] [nvarchar](100) NULL,
	[ROOMEXAMSCODE] [varchar](10) NULL,
 CONSTRAINT [PK_DETAILEDEXAMINATIONLIS] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXAMINATIONS]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXAMINATIONS](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[EXAMINATIONSNAME] [nvarchar](50) NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
 CONSTRAINT [PK_EXAMINATIONS] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXAMS]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXAMS](
	[CODE] [varchar](10) NOT NULL,
	[SUBJECTCODE] [varchar](10) NULL,
	[EXAMINATIONSCODE] [varchar](10) NULL,
	[CODEVIEW] [varchar](20) NULL,
	[EXAMSNAME] [nvarchar](100) NULL,
	[EXAMDURATION] [time](7) NULL,
	[EXAMFORMS] [nvarchar](100) NULL,
 CONSTRAINT [PK_EXAMS] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACULTY](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NULL,
	[FACULTYNAME] [nvarchar](200) NULL,
	[FACULTYDESCRIPTTION] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FAXTEST]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FAXTEST](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[TESTPACKCODE] [varchar](10) NOT NULL,
	[DETAILEDEXAMINATIONLISTCODE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TEST] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GENRE](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NULL,
	[GENRENAME] [varchar](100) NULL,
	[GENREDESCRIPTION] [nvarchar](500) NULL,
	[FACULTYCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LEVELEDUCATION]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LEVELEDUCATION](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[LEVELNAME] [nvarchar](200) NOT NULL,
	[DEPARTMENTCODE] [varchar](10) NULL,
	[SUBJECTCODE] [varchar](10) NULL,
	[NUMBERYEAR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PREVIOUSSUBJECT]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PREVIOUSSUBJECT](
	[CODE] [varchar](10) NOT NULL,
	[SUBJECTCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROOMEXAMS]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROOMEXAMS](
	[CODE] [varchar](10) NOT NULL,
	[EXAMINATIONSCODE] [varchar](10) NULL,
	[CODEVIEW] [varchar](20) NULL,
	[ROOMEXAMSNAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROOMEXAMS] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCORESBYFAX]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCORESBYFAX](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[FAXTESTCODE] [varchar](10) NOT NULL,
	[TESTSCORE] [float] NULL,
	[NODE] [nvarchar](100) NULL,
 CONSTRAINT [PK_SCORESBYFAXT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPECIALITY]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPECIALITY](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[SPECIALITYNAME] [nvarchar](200) NOT NULL,
	[DEPARTMENTCODE] [varchar](10) NULL,
	[SUBJECTCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [nvarchar](20) NULL,
	[STUDENTNAME] [nvarchar](200) NULL,
	[SEXUAL] [nvarchar](20) NULL,
	[BIRTHDAY] [time](7) NULL,
	[ADDRESS] [nvarchar](20) NULL,
	[SPECIALITYCODE] [varchar](10) NULL,
	[CREDITCLASSCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLESUBJECT]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLESUBJECT](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NOT NULL,
	[SUBJECTNAME] [nvarchar](200) NOT NULL,
	[PARENTCODE] [varchar](20) NULL,
	[NUMBEROFCREDIT] [smallint] NULL,
	[EXPECTEDSEMESTER] [smallint] NULL,
	[NUMBEROFCLASS] [smallint] NULL,
	[SUBJECTTYPE] [int] NULL,
	[PREVIOUSSUBJECT] [varchar](10) NULL,
	[RATIO] [varchar](10) NULL,
	[GENRECODE] [varchar](10) NULL,
	[SPECIALITYCODE] [varchar](10) NULL,
	[LEVELEDUCATIONCODE] [varchar](10) NULL,
	[ISNORMAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEACHER](
	[CODE] [varchar](10) NOT NULL,
	[CODEVIEW] [varchar](20) NULL,
	[TEACHERNAME] [nvarchar](200) NULL,
	[MILITARYRANK] [nvarchar](200) NULL,
	[FACULTYCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TESTPACK]    Script Date: 5/23/2018 11:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TESTPACK](
	[CODE] [varchar](10) NOT NULL,
	[ROOMEXAMSCODE] [varchar](10) NULL,
	[CODEVIEW] [varchar](20) NULL,
	[TESTPACKNAME] [nvarchar](50) NULL,
	[MUNBERTEST] [int] NULL,
	[EXAMSHEET] [int] NULL,
 CONSTRAINT [PK_TESTPACK] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AU_DONVI] ([ID], [MADONVI], [MADONVICHA], [TENDONVI], [SODIENTHOAI], [DIACHI], [EMAIL], [MACUAHANG], [TENCUAHANG], [URL], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'12a52a61-4385-4f8b-b399-4a9735db7191', N'DV1-CH3', N'DV1', N'Phòng đào tạo', N'098913212', NULL, N'nguyencao@gmail.com', N'0004', N'', NULL, 10, NULL, NULL, NULL, NULL, NULL, N'DV1-CH3')
INSERT [dbo].[AU_DONVI] ([ID], [MADONVI], [MADONVICHA], [TENDONVI], [SODIENTHOAI], [DIACHI], [EMAIL], [MACUAHANG], [TENCUAHANG], [URL], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'693eb25b-89bf-4969-91c8-3b7a98a55bc8', N'DV1', NULL, N'Khoa CNTT', N'0912121', NULL, N'tuananh@gmail.com', NULL, NULL, NULL, 10, NULL, NULL, NULL, NULL, NULL, N'DV1')
INSERT [dbo].[AU_DONVI] ([ID], [MADONVI], [MADONVICHA], [TENDONVI], [SODIENTHOAI], [DIACHI], [EMAIL], [MACUAHANG], [TENCUAHANG], [URL], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'73e93c30-f4c0-477f-93b9-a1f96020f35e', N'DV2', NULL, N'Khoa cơ khí', N'1231231', NULL, N'Cokhi@gmail.com', NULL, NULL, NULL, 0, CAST(N'2018-03-15 23:45:00.037' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_MENU] ([ID], [MENUIDCHA], [MENUID], [TITLE], [URL], [SORT], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'11fd38ac-7ea9-4a4c-8fad-af41f0ec1cfd', NULL, N'NghiepVu', N'3. Nghiệp vụ', N'#', 31, 10, NULL, NULL, CAST(N'2018-05-08 21:39:45.923' AS DateTime), NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_MENU] ([ID], [MENUIDCHA], [MENUID], [TITLE], [URL], [SORT], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'29a6f35f-ec00-4f3c-b6af-ec55cd18e297', N'DanhMuc', N'dmGioiThieu', N'2.1. Danh sách giới thiệu', N'#', 11, 10, CAST(N'2018-03-12 15:34:04.390' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_MENU] ([ID], [MENUIDCHA], [MENUID], [TITLE], [URL], [SORT], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'5c703d1e-1303-4777-8c05-4142b3382f82', N'HeThong', N'Menu', N'1.1. Danh sách menu', N'/Menu/Index', 2, 10, CAST(N'2018-03-09 00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NGUOIDUNG] ([ID], [USERNAME], [PASSWORD], [MANHANVIEN], [TENNHANVIEN], [SODIENTHOAI], [SOCHUNGMINHTHU], [GIOITINH], [MAPHONG], [CHUCVU], [LEVEL], [TRANGTHAI], [PARENT_UNITCODE], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'13347857-1085-476f-bbee-50ed0bea8fd1', N'hieutran', N'e6e061838856bf47e1de730719fb2609', N'NV_3', N'Hiếu', N'01646060889', N'001097', 1, NULL, NULL, 1, 10, N'DV1', CAST(N'2018-03-12 23:23:39.827' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NGUOIDUNG] ([ID], [USERNAME], [PASSWORD], [MANHANVIEN], [TENNHANVIEN], [SODIENTHOAI], [SOCHUNGMINHTHU], [GIOITINH], [MAPHONG], [CHUCVU], [LEVEL], [TRANGTHAI], [PARENT_UNITCODE], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'ec422105-5e3c-4c14-abf8-501c4cf40fb8', N'phamtuananh', N'21-23-2F-29-7A-57-A5-A7-43-89-4A-0E-4A-80-1F-C3', N'NV_001', N'ACCOUNT TEST', N'0912312', N'091212', 1, NULL, NULL, 1, 10, N'DV1', CAST(N'2018-03-11 00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NGUOIDUNG] ([ID], [USERNAME], [PASSWORD], [MANHANVIEN], [TENNHANVIEN], [SODIENTHOAI], [SOCHUNGMINHTHU], [GIOITINH], [MAPHONG], [CHUCVU], [LEVEL], [TRANGTHAI], [PARENT_UNITCODE], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'f46894be-beaf-4c1b-274f-1101b34fe48r', N'admin', N'e6e061838856bf47e1de730719fb2609', N'NV_002', N'ACCOUNT TEST', N'123456789', N'123456789', 1, NULL, N'Admin', 1, 10, N'DV1', CAST(N'2018-03-13 09:29:21.590' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NGUOIDUNG_NHOMQUYEN] ([ID], [USERNAME], [MANHOMQUYEN], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'06469986-5135-4fb7-a7d7-a6be9d929fa6', N'admin', N'NHOM1', CAST(N'2018-03-15 22:25:18.107' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NGUOIDUNG_QUYEN] ([ID], [USERNAME], [MACHUCNANG], [XEM], [THEM], [SUA], [XOA], [DUYET], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'15b18299-ad9b-484e-813f-a6d8b4d3af1b', N'admin', N'auThamSoHeThong', 1, 0, 0, 0, 0, 1, CAST(N'2018-03-11 00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NGUOIDUNG_QUYEN] ([ID], [USERNAME], [MACHUCNANG], [XEM], [THEM], [SUA], [XOA], [DUYET], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'4cbbeca0-1204-4dad-8c0c-20c71733e5a1', N'admin', N'auGroup', 1, 0, 0, 0, 0, 1, CAST(N'2018-03-11 00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NGUOIDUNG_QUYEN] ([ID], [USERNAME], [MACHUCNANG], [XEM], [THEM], [SUA], [XOA], [DUYET], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'e1551760-8111-4269-8380-211edfb1007f', N'admin', N'auMenu', 1, 0, 0, 0, 0, 1, CAST(N'2018-03-11 00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NHOMQUYEN] ([ID], [MANHOMQUYEN], [TENNHOMQUYEN], [MOTA], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'91765ac4-a717-4d59-80fe-03370c8eaf7e', N'NHOM1', N'QUYỀN QUẢN TRỊ', N'QUYỀN QUẢN TRỊ', 10, NULL, N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NHOMQUYEN_CHUCNANG] ([ID], [MANHOMQUYEN], [MACHUCNANG], [XEM], [THEM], [SUA], [XOA], [DUYET], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'132bda3f-5580-4017-95d7-30c027835535', N'NHOM1', N'Menu', 1, 1, 1, 1, 1, 10, CAST(N'2018-03-15 09:00:50.340' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NHOMQUYEN_CHUCNANG] ([ID], [MANHOMQUYEN], [MACHUCNANG], [XEM], [THEM], [SUA], [XOA], [DUYET], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'140ecfd6-cf07-4630-b2d5-1add825aeb4a', N'NHOM1', N'merchandiseType', 1, 0, 0, 0, 0, 10, CAST(N'2018-03-11 00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[AU_NHOMQUYEN_CHUCNANG] ([ID], [MANHOMQUYEN], [MACHUCNANG], [XEM], [THEM], [SUA], [XOA], [DUYET], [TRANGTHAI], [I_CREATE_DATE], [I_CREATE_BY], [I_UPDATE_DATE], [I_UPDATE_BY], [I_STATE], [UNITCODE]) VALUES (N'16a81f62-00e0-4e99-85d6-621b1c01f9e9', N'NHOM1', N'auGroup', 1, 0, 0, 0, 0, 10, CAST(N'2018-03-11 00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL, N'DV1-CH1')
INSERT [dbo].[DEPARTMENT] ([CODE], [CODEVIEW], [DEPARTMENTNAME], [LEVELEDUCATIONCODE]) VALUES (N'1111', N'DP_1', N'Công nghệ thông tin', N'LV1')
INSERT [dbo].[DEPARTMENT] ([CODE], [CODEVIEW], [DEPARTMENTNAME], [LEVELEDUCATIONCODE]) VALUES (N'2222', N'DP_2', N'Cơ khí', N'LV1')
INSERT [dbo].[LEVELEDUCATION] ([CODE], [CODEVIEW], [LEVELNAME], [DEPARTMENTCODE], [SUBJECTCODE], [NUMBERYEAR]) VALUES (N'123', N'LV1', N'Đại học', NULL, NULL, 5)
INSERT [dbo].[LEVELEDUCATION] ([CODE], [CODEVIEW], [LEVELNAME], [DEPARTMENTCODE], [SUBJECTCODE], [NUMBERYEAR]) VALUES (N'124', N'LV2', N'Cao Đẳng', NULL, NULL, 3)
INSERT [dbo].[SPECIALITY] ([CODE], [CODEVIEW], [SPECIALITYNAME], [DEPARTMENTCODE], [SUBJECTCODE]) VALUES (N'2231', N'SP_1', N'Kỹ thuật phần mềm', N'DP_1', NULL)
INSERT [dbo].[SPECIALITY] ([CODE], [CODEVIEW], [SPECIALITYNAME], [DEPARTMENTCODE], [SUBJECTCODE]) VALUES (N'2232', N'SP_2', N'Ô tô', N'DP_2', NULL)
INSERT [dbo].[SPECIALITY] ([CODE], [CODEVIEW], [SPECIALITYNAME], [DEPARTMENTCODE], [SUBJECTCODE]) VALUES (N'2233', N'SP_3', N'Công nghê thông tin', N'DP_1', NULL)
INSERT [dbo].[TABLESUBJECT] ([CODE], [CODEVIEW], [SUBJECTNAME], [PARENTCODE], [NUMBEROFCREDIT], [EXPECTEDSEMESTER], [NUMBEROFCLASS], [SUBJECTTYPE], [PREVIOUSSUBJECT], [RATIO], [GENRECODE], [SPECIALITYCODE], [LEVELEDUCATIONCODE], [ISNORMAL]) VALUES (N'123', N'SB_01', N'Khối kiến thức Giáo dục đại cương', NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, N'LV1', 0)
INSERT [dbo].[TABLESUBJECT] ([CODE], [CODEVIEW], [SUBJECTNAME], [PARENTCODE], [NUMBEROFCREDIT], [EXPECTEDSEMESTER], [NUMBEROFCLASS], [SUBJECTTYPE], [PREVIOUSSUBJECT], [RATIO], [GENRECODE], [SPECIALITYCODE], [LEVELEDUCATIONCODE], [ISNORMAL]) VALUES (N'124', N'SB_02', N'Khối kiến thức Giáo dục chuyên nghiệp', NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, N'LV1', 0)
INSERT [dbo].[TABLESUBJECT] ([CODE], [CODEVIEW], [SUBJECTNAME], [PARENTCODE], [NUMBEROFCREDIT], [EXPECTEDSEMESTER], [NUMBEROFCLASS], [SUBJECTTYPE], [PREVIOUSSUBJECT], [RATIO], [GENRECODE], [SPECIALITYCODE], [LEVELEDUCATIONCODE], [ISNORMAL]) VALUES (N'125', N'SB_03', N'Khoa học xã hội và nhân văn', N'SB_01', NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, N'LV1', 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__EXAMINAT__5197A9D9AC81FB11]    Script Date: 5/23/2018 11:55:25 PM ******/
ALTER TABLE [dbo].[EXAMINATIONS] ADD UNIQUE NONCLUSTERED 
(
	[CODEVIEW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASSIGNMENTOFMARKING]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGNMENTOFMARKING_TESTPACK] FOREIGN KEY([TESTPACKCODE])
REFERENCES [dbo].[TESTPACK] ([CODE])
GO
ALTER TABLE [dbo].[ASSIGNMENTOFMARKING] CHECK CONSTRAINT [FK_ASSIGNMENTOFMARKING_TESTPACK]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD CHECK  (([SEXUAL]=N'NỮ' OR [SEXUAL]=N'NAM'))
GO
/****** Object:  StoredProcedure [dbo].[GET_SUBJECT_BY_SPECIALITY]    Script Date: 5/23/2018 11:55:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_SUBJECT_BY_SPECIALITY]
	@specialitycode varchar(10),
	@leveleducation varchar(10),
	@semester int 
AS
BEGIN
	IF (@specialitycode <> '')
	BEGIN
		SELECT * FROM TABLESUBJECT tb WHERE tb.LEVELEDUCATIONCODE =@leveleducation AND tb.ISNORMAL = 0 OR tb.SPECIALITYCODE = @specialitycode Order by CODEVIEW
	END
	IF(@semester IS NOT NULL)
	BEGIN
		SELECT * FROM TABLESUBJECT tb WHERE tb.LEVELEDUCATIONCODE = @leveleducation AND tb.EXPECTEDSEMESTER = @semester Order by CODEVIEW
	END
END
GO
USE [master]
GO
